/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,600&family=Tilt+Neon&display=swap'); */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.active{
  @apply text-orange-500  
}

  .nav{
      @apply relative ml-10 hover:text-orange-500 
  }
  .nav::after{
   @apply content-[''] bg-orange-500 h-[2px] w-[] left-0 -bottom-[5px] absolute rounded-xl duration-300 
}
.nav:hover::after{
  @apply w-[100%] scale-100 hover:scale-110
}


.pagination{
  display:flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.pagination li {
  margin: 0 5px;
}
.pagination a{
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
}
.pagination a:hover{
  background-color: #ccc;
}
.pagination li.activerPagination{
  background: #ffff00;
  border-radius: 4px;
  color: #fff;
}
.active-button{
  color: #ffff00;
}
/* body {
  background-color: hsl(0, 0%, 98%);
} */


.input-box-shadow{
  filter: drop-shadow(-4px -4px 44px rgba(0, 0, 0, 0.08));
}

.slick-prev:before, 
.slick-next:before {
     color: black;
     font-size: 40px;
}

.slick-next:before{
  position: absolute;
  right:0;
   margin-top: -10px;
   margin-right: 5px;
}

.slick-next,
.slick-prev
{
  position: absolute;
  right:0;
 }

.slick-prev{
  z-index: 99999;
  margin-left: 25px;
}

.category-card:hover .arrow-icon{
  fill: white;
}

.slick-arrow{
  position: absolute;
  right:50;
  margin-right: 25px;
 }

.slick-dots {
  @apply ml-[-10px] hidden
 }
 .bar{
  /* display: flex;
  flex-direction: column-reverse; */
  
 }
 .custom-margin {
  margin-top: 1rem;
}




/* Slider  */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h2{
  color: white;
  text-align: center;
}

.mainContainer{
  margin: 10px;
}

.mainContainer .container{
  padding: 40px 0;
}

.mainContainer .container img{
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

div h3{
  color: white;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* scroll button remove  */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}


.micro-btn {
  @apply transition-all duration-300 ease-out hover:-translate-y-0.5 hover:shadow-lg active:translate-y-0;
}

.interactive-card {
  @apply transition-all duration-300 ease-out hover:-translate-y-1 hover:shadow-2xl;
}


:where(a, button, input, textarea, select, [role='button'], [role='menuitem']):focus-visible {
  outline: 3px solid #f97316;
  outline-offset: 3px;
  border-radius: 0.5rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}


body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

html.dark body {
  background-color: #0f172a;
  color: #e5e7eb;
}

html.dark .bg-white,
html.dark .bg-gray-100,
html.dark .bg-gray-200 {
  background-color: #111827 !important;
}

html.dark .text-black,
html.dark .text-gray-700,
html.dark .text-gray-600,
html.dark .text-gray-500,
html.dark .text-[#6D737A] {
  color: #e5e7eb !important;
}

html.dark .border,
html.dark .border-gray-300,
html.dark .border-black {
  border-color: #374151 !important;
}
